<launch>
    <!-- Inicia o servidor do Gazebo com o mundo especificado -->
    <arg name="world_file" default="$(find euler_aerodinamica_v1)/worlds/propeller_test.sdf" />
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_file)" output="screen"/>

    <!-- Inicia o cliente do Gazebo -->
    <node name="gazebo_client" pkg="gazebo_ros" type="gzclient" output="screen"/>

    <!-- Inclua qualquer outro nó ROS que você queira iniciar junto com o Gazebo -->
</launch>
