<?xml version="1.0"?>

<model>
  <name>T30 Ardupilot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Euler Torres</name>
    <email>euler.feitosa@xmobots.com.br</email>
  </author>

  <maintainer email="euler.feitosa@xmobots.com.br">Euler Torres</maintainer>


  <description>
    T30, versão simplificada com ardupilot
    add LiftDragPlugin
    add ArduCopterPlugin
    add EulerAeroPlugin
  </description>
</model>
