<?xml version="1.0" ?>
<model>
    <name>MN801S-150KV-APC2015-SAMA-FW25</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Euler Torres</name>
        <email>euler.feitosa@xmobots.com.br</email>
    </author>
    <description>Conjunto motopropulsor VTOL. Validação.</description>
</model>
