<?xml version='1.0'?>
<launch>

    <!-- Argumentos -->
    <arg name="world" default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="fcu_url" default="udp://127.0.0.1:14550@14550"/>
    <arg name="gcs_url" default=""/>

    <!-- Carregar o ambiente do mundo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulacao)/worlds/DJI_T30.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>


    <!-- Converter o Xacro para SDF 
    <node name="xacro_to_sdf" pkg="xacro" type="xacro" output="screen"
          args="$(arg xacro_model) -o $(arg sdf_model)" /> -->

    <!-- Spawner do modelo SDF 
    <node name="drone_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-sdf -file $(arg sdf_model) -model iris"/> -->

    <!-- Inicia o MAVRos -->
    <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
        <param name="fcu_url" value="$(arg fcu_url)"/>
        <param name="gcs_url" value="$(arg gcs_url)"/>
        <param name="target_system_id" value="1"/>
        <param name="target_component_id" value="1"/>
        <rosparam param="/rosout/logger_level">error</rosparam>
    </node>

	<!--<node pkg="euler_aerodinamica_v1" type="Mission_sender.py" name="Mission_sender" output="screen" launch-prefix="stdbuf -o L" >
		<param name="log_level" value="debug"/>
	</node> -->

</launch>
